body {
    font-family: 'Arial';
}

nav {
    background-color:rgb(40, 40, 156);
    height: 3em;
    margin-bottom: 20px;
}

nav ul {
    padding:0;
    margin:0;
    list-style-type:none;
    position : fixed;
}

nav li {
    margin-left:2px;
    float:left; /*pour IE*/
    background-color: transparent;
}

nav ul li a {
    display:block;
    float:left;   
    width:100px;
    background-color:transparent;
    color:white;
    text-decoration:none;
    text-align:center;
    padding:5px;
    border:none;
 }

 body {
     background-color: rgb(197, 211, 255);
 }

 #listeDonneesItem {
     border: rgb(40, 40, 156) solid 2px;
     margin: 20px;
     background-color: white;
     padding: 10px;
     border-radius: 10px;
    width: 30%;
    color:rgb(40, 40, 156);
 }

 .boutonNav {
     width: auto;
 }